@using DesignAccelerator.Models.ViewModel
@model AttributeValueViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>
<hr />

@if (!string.IsNullOrEmpty(ViewBag.Status))
{
    <script>
        alert('Data saved successfully !'); // place your comment.
    </script>
}

<div class="row">
    <div class="col-md-9">
        <section id="AttributeValueForm">
            @using (Html.BeginForm("Index", "AttributeValue", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "AttributeValue creation was unsuccessful. Please enter correctly and try again", new { @class = "text-danger" })
                @Html.HiddenFor(m => m.AttrValueID)
                @Html.HiddenFor(m => m.daId)
                <div class="form-group">
                    @Html.LabelFor(m => m.LstAttrib, "Attribute Name ", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.AttributeDesc, new SelectList(Model.LstAttrib, "AttributeID ", "AttributeDesc"), "---Select---", new { @class = "form-control", @required = "Required" })
                    </div>
                </div>
                <div class="form-inline">
                    <div class="form-group">
                        @Html.LabelFor(m => m.AttributeValue, "Attribute Value1", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.AttributeValue, new { @class = "form-control", @required = "required" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.AttributeValue, "Attribute Value2 ", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.AttributeValue, new { @class = "form-control", @required = "required" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.AttributeValue, "Attribute Value3 ", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.AttributeValue, new { @class = "form-control", @required = "required" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.AttributeValue, "Attribute Value4 ", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.AttributeValue, new { @class = "form-control", @required = "required" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.AttributeValue, "Attribute Value5 ", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.AttributeValue, new { @class = "form-control", @required = "required" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.AttributeValue, "Attribute Value6 ", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.AttributeValue, new { @class = "form-control", @required = "required" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.AttributeValue, "Attribute Value7 ", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.AttributeValue, new { @class = "form-control", @required = "required" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.AttributeValue, "Attribute Value8 ", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.AttributeValue, new { @class = "form-control", @required = "required" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.AttributeValue, "Attribute Value9 ", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.AttributeValue, new { @class = "form-control", @required = "required" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.AttributeValue, "Attribute Value10 ", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.AttributeValue, new { @class = "form-control", @required = "required" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.AttributeValue, "Attribute Value11 ", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.AttributeValue, new { @class = "form-control", @required = "required" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.AttributeValue, "Attribute Value12 ", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.AttributeValue, new { @class = "form-control", @required = "required" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.AttributeValue, "Attribute Value13 ", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.AttributeValue, new { @class = "form-control", @required = "required" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.AttributeValue, "Attribute Value14 ", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.AttributeValue, new { @class = "form-control", @required = "required" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.AttributeValue, "Attribute Value15 ", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.AttributeValue, new { @class = "form-control", @required = "required" })
                        </div>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            }
        </section>
    </div>
</div>

<br />

<div>
    @*<a id="backlink" href="">Back</a>*@
    @Html.ActionLink("Back to List", "Index")
</div>

@*@section Scripts {
        <script type="text/javascript">
            $(document).on('click', '#backlink', function () {
                    this.href = "@Session["PreviousURL"]";
                });
        </script>
    }*@




