@model DesignAccelerator.Models.ViewModel.DAViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="navbar-static-top">
    <ul class="breadcrumb"></ul>
</div>
<h2>DA Home</h2>
<hr />

<div class="jumbotron">
    <form>
        @Html.HiddenFor(m => m.DAID)
        <div class="row">
            <div class="col-md-4">
                <p><a class="btn btn-primary btn-block" href="@Url.Action("Masters", "Home", new {id = Model.DAID })">Enter DA Masters</a></p>
            </div>
            <div class="col-md-4">
                <p><a class="btn btn-primary btn-block" href="@Url.Action("MapAttributes", "Home", new {id = Model.DAID })">Map Attributes</a></p>
            </div>            
        </div>
        <div class="row">
            <div class="col-md-4">
                <p><a class="btn btn-primary btn-block" href="">Generate Transaction Matrix</a></p>
            </div>
            <div class="col-md-4">
                <p><a class="btn btn-primary btn-block" href="">Generate Scenario Builder</a></p>
            </div>
            <div class="col-md-4">
                <p><a class="btn btn-primary btn-block" href="">Generate Test Design</a></p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <p><a class="btn btn-primary btn-block" href="">Generate Test Specification</a></p>
            </div>
            <div class="col-md-4">
                <p><a class="btn btn-primary btn-block" href="">Generate Traceability Matrix</a></p>
            </div>
            <div class="col-md-4">
                <p><a class="btn btn-primary btn-block" href="">Generate Run Plan</a></p>
            </div>
        </div>
    </form>
</div>
@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {

            $('.breadcrumb').append('<li><a href="@Url.Action("Index", "Client")"><span>' + "@Model.ClientName" + '</span></a></li>');
            $('.breadcrumb').append('<li><a href="@Url.Action("Index", "Project", new {id = Model.ClientId })"><span>' + "@Model.ProjectName" + '</span></a></li>');
            $('.breadcrumb').append('<li><a href="@Url.Action("Index", "Application", new {id = Model.ProjectId })"><span>' + "@Model.ApplicationName" + '</span></a></li>');
            $('.breadcrumb').append('<li><a href="@Url.Action("Index", "Module", new {id = Model.ApplicationID })"><span>' + "@Model.ModuleName" + '</span></a></li>');
            $('.breadcrumb').append('<li><a href="@Url.Action("Index", "DesignAccelerator", new {id = Model.ModuleId })"><span>' + "@Model.DAName" + '</span></a></li>');
        });

    </script>
}