@using DesignAccelerator.Models.ViewModel
@model AttributeListViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .button {
        background-color: #af2024;
        color: #ffffff;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Edit Attribute List</h4>
        <hr />

        @*@Html.AntiForgeryToken()*@
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(m => m.AttributeID)
        @Html.HiddenFor(m => m.daId)

        <div class="form-group">
            @Html.LabelFor(m => m.AttributeDesc, "Attribute Name", new { @class = "col-md-2 control-label", @style = "text-align:left" })
            <div class="col-md-10">
                <span class="form-inline" style="margin-left:-80px">
                    @Html.EditorFor(m => m.AttributeDesc, new { htmlAttributes = new { @maxlength = "30", @class = "form-control", @required = "required", @style = "width:300px" } })
                    @Html.ValidationMessageFor(m => m.AttributeDesc, "", new { @class = "text-danger" })
                </span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.AttributeTypeID, "Attribute Type", htmlAttributes: new { @class = "col-sm-2 control-label", @style = "text-align:left" })
            <div class="col-md-10">
                <span style="margin-left:-80px">
                    <label radio="inline" style="margin:8px 0 0">
                        @*@foreach (var a in (IEnumerable<DesignAccelerator.Models.ViewModel.AttributeListViewModel>)ViewBag.AttributeListViewModel)*@

                        @Html.EditorFor(m => m.CommonAttributeTypeID)
                        <span>Common</span>

                        @Html.EditorFor(m => m.CriticalAttributeTypeID)
                        <span>Critical</span>
                    </label>
                </span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" style="margin-left:115px">
                <input type="submit" value="Save" class="btn btn-default btn-group-sm; button" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back", "Index")
</div>

@section scripts
{
    <script>
        $("#AttributeDesc").bind('keypress', function (event) {

            var regex = new RegExp("^[a-zA-Z0-9]+$");
            var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
            if (!regex.test(key)) {
                if (event.charCode != 32) {//if key stroke is space bar, then pass. ASCII code for space bar is 32
                    event.preventDefault();
                    return false;
                }
            }
        });

      
    </script>
}
