@model  DesignAccelerator.Models.ViewModel.ApplicationViewModel
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .button {
        background-color: #af2024;
        color: #ffffff;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Delete Application</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ApplicationID)

        <div class="form-group">
            @Html.Label("Application Name", htmlAttributes: new { @class = "control-label col-md-2", @style = "text-align:left" })
            <div class="col-md-10">
                <span class="form-inline" style="margin-left:-50px">
                    @Html.EditorFor(model => model.ApplicationName, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                    @Html.ValidationMessageFor(model => model.ApplicationName, "", new { @class = "text-danger" })
                </span>
            </div>
        </div>
        <div class="form-group">

            @Html.LabelFor(m => m.lstAppVersion, "Application Version", new { @class = "col-md-2 control-label", @style = "text-align:left" })
            <div class="col-md-10">
                <span class="form-inline" style="margin-left:-50px">
                    @Html.EditorFor(model => model.AppVersion, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                    @Html.ValidationMessageFor(model => model.AppVersion, "", new { @class = "text-danger" })
                </span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.BankType, "Bank Type", new { @class = "col-md-2 control-label", @style = "text-align:left" })
            <div class="col-md-10">
                <span class="form-inline" style="margin-left:-50px">
                    @Html.EditorFor(model => model.BankTypeName, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                    @Html.ValidationMessageFor(model => model.BankTypeName, "", new { @class = "text-danger" })
                </span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" style="margin-left:145px">
                <input type="submit" value="Delete" class="btn btn-default; button" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back", "Index")
</div>
