@model DesignAccelerator.Models.ViewModel.SourceViewModel
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .button {
        background-color: #af2024;
        color: #ffffff;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Delete Source</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.sourceID)
        @Html.HiddenFor(model => model.DAID)

        <div class="form-group">
            @Html.Label("Source", htmlAttributes: new { @class = "control-label col-md-2", @style = "text-align:left" })
            <div class="col-md-10">
                <span class="form-inline" style="margin-left:-114px">
                    @Html.EditorFor(model => model.sourceDesc, new { htmlAttributes = new { @class = "form-control", @readonly = "true", @style = "width:200px" } })
                    @Html.ValidationMessageFor(model => model.sourceDesc, "", new { @class = "text-danger" })
                </span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" style="margin-left:80px">
                <input type="submit" value="Delete" class="btn btn-default; button" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back", "Index")
</div>


